<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <script src="/javascripts/pixi.min.js"></script>
  <script src="/javascripts/models/colour.js"></script>
  <script src="/javascripts/models/creaturefactory.js"></script>
  <script type="text/javascript">
    //Create a Pixi Application
    let app = new PIXI.Application();

    app.renderer.backgroundColor = new DLColour(64, 164, 223, 1).toHex();
    app.renderer.view.style.position = "absolute";
    app.renderer.view.style.display = "block";
    app.renderer.autoResize = true;
    app.renderer.resize(window.innerWidth, window.innerHeight);
    //Add the canvas that Pixi automatically created for you to the HTML document
    document.body.appendChild(app.view);

    PIXI.loader
      .add("/images/animals.json")
      .load(setup);
    //load an image and run the `setup` function when it's done
    function setup() {

      creatures = [];

      for (let i = 0; i < 64; i++) {
        creatures[i] = NewCreature();
      }

      creatures.forEach(creature => {
        app.stage.addChild(creature);
      });

      // Animate the rotation
      app.ticker.add(function () {
        creatures.forEach(creature => {
          creature.travel();
        });
      });
    }

  </script>
</body>

</html>