<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <script src="/javascripts/pixi.min.js"></script>
  <script type="text/javascript">
    //Create a Pixi Application
    let app = new PIXI.Application();

    app.renderer.backgroundColor = 0xefefef;
    app.renderer.view.style.position = "absolute";
    app.renderer.view.style.display = "block";
    app.renderer.autoResize = true;
    app.renderer.resize(window.innerWidth, window.innerHeight);
    //Add the canvas that Pixi automatically created for you to the HTML document
    document.body.appendChild(app.view);

    //load an image and run the `setup` function when it's done
    PIXI.loader
      .add("/images/animals.json")
      .load(setup);

    let animal_cell;
    //This `setup` function will run when the image has loaded
    function setup() {

      var frames = [];

      for (let i = 0; i < 5; i++) {
        frames.push(PIXI.Texture.fromFrame('frame0' + i + '.png'));
      }

      var anim = new PIXI.extras.AnimatedSprite(frames);
      anim.x = app.screen.width / 2;
      anim.y = app.screen.height / 2;
      anim.anchor.set(0.5);
      anim.animationSpeed = 0.3;
      anim.play();
      anim.height = 64;
      anim.width = 64;
      anim.tint = 0xFF00F0;
      anim.vx = -1.5;
      anim.vy = -1.5;
      app.stage.addChild(anim);

      // Animate the rotation
      app.ticker.add(function () {
        // anim.rotation += 0.01;
        anim.x += anim.vx;
        anim.y += anim.vy;

        if (anim.x < anim.width / 2) {
          anim.x == 0;
          anim.vx *= -1;
        }

        if (anim.x > app.screen.width - (anim.width / 2)) {
          anim.x == app.screen.width;
          anim.vx *= -1;
        }

        if (anim.y < anim.height / 2) {
          anim.y == 0;
          anim.vy *= -1;
        }

        if (anim.y > app.screen.height - (anim.height / 2)) {
          anim.y == app.screen.height;
          anim.vy *= -1;
        }

      });
    }

  </script>
</body>

</html>